.newest {
    border-top: 2px solid #1A3A60;

}
span {
    font-weight: 400;
    font-size: 14px;
    color: #F5F5F5;
    padding: 2px 16px 6px 16px;
    background-color: #1A3A60;
}

h6 {
    font-weight: 500;
    font-size: 16px;
    color: #1A3A60;
}

.newest_posts_container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 20px;
}


.newest_post {
    display: grid;
    grid-template-columns: 72px 1fr;
    gap: 16px;
    border-top: 1px dotted #1A3A60;
    padding-top: 20px;
}


.newest_post img {
    width: 100%;
}

.newest_post p {
    color: #5c5c5c;
    font-size: 12px;
}

.newest_post div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}



@media screen and (max-width:1024px) {


    .newest_post {
        display: grid;
        grid-template-columns: 180px 1fr;
        padding-top: 32px
    }

    .newest_posts_container {
        gap: 32px;
    }
    
}